<html ng-app="advanced">
<head>        
    <meta charset="utf-8" />
    <title>Recipes</title>
    <base href="/" />
</head>

<body>
    <ui-view full-bleed></ui-view>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    
    <script src="https://d3js.org/d3.v3.js"></script>
</body>

</html>
